:root {
    --main-background-color: #11101D;
    --second-background-color: #1D1B31;
    --highlight-background-color: #E4E9F7;
}

.sidebar {
    position: fixed;
    z-index: 50;
    transition: all 0.5s ease;
    background: var(--main-background-color);
    top: 0;
    left: 0;
    bottom: 0;
    padding: 5px;
    overflow: hidden;
    width: 78px;
}

.sidebar .menu-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.sidebar .nav-list {
    width: 100%;
    position: absolute;
    display: block;
    padding: 0 10px 60px 0;
    top: 250px;
}

.sidebar li.nav-item a .links_name {
    width: 0;
    transition: all ease 0.5s;
}

.sidebar .profile .lang-link {
    width: 60px;
}

.sidebar.open {
    overflow: visible;
}

.nav-list .nav-item {
    color: var(--highlight-background-color);
}

.sidebar.open li.nav-item a {
    display: inline-block;
    width: 100%;
    height: auto;
}

.sidebar .profile-img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    transition: all ease 0.5s;
    user-select: none;
}

.sidebar li { 
    list-style: none;
    width: 100%;
    margin-bottom: 2px;
}

.sidebar li a {
    display: flex;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    background: var(--main-background-color);
}

.sidebar li.nav-item i {
    color: var(--highlight-background-color);
    text-align: center;
    min-width: 50px;
    margin: auto;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
    transition: all ease 0.5s;
}

.sidebar li.nav-item a .links_name {
    color: var(--highlight-background-color);
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    transition: all ease 0.5s;
}

.sidebar.open .nav-list {
    top: 78px;
    left: 0;
    right: 0;
    padding: 0;
    display: block;
    background: var(--main-background-color);
}

.sidebar.open li.nav-item a:active {
    background: var(--highlight-background-color);
    color: var(--main-background-color);
}

.sidebar .profile .name,
.sidebar .profile .job {
    font-size: 15px;
    font-weight: 400;
    color: var(--highlight-background-color);
    white-space: nowrap;
    opacity: 0;
    transition: all ease 1s;
}

.sidebar .profile .job {
    font-size: 10px;
}

.sidebar .profile .lang-link {
    font-weight: bold;
    color: var(--highlight-background-color);
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

@media only screen and (min-width: 1000px) and (hover: hover) and (pointer: fine) and (orientation: landscape) {
    .sidebar:hover {
        width: 250px;
        overflow-y: auto;
    }

    .sidebar li.nav-item a:hover {
        background: var(--highlight-background-color);
    }

    .sidebar:hover li.nav-item a .links_name {
        opacity: 1; 
    }

    .sidebar li.nav-item a:hover .links_name,
    .sidebar li.nav-item a:hover i {
        color: var(--main-background-color);
    }

    .sidebar:hover li.nav-item i {
        margin: 0;
        transition: all ease 0.5s;
    }

    .sidebar .profile {
        position: fixed;
        height: 60px;
        width: 78px;
        left: 0;
        bottom: 0;
        padding: 10px;
        background: var(--second-background-color);
        transition: all 0.5s ease;
        overflow: hidden;
    }

    .sidebar:hover .profile {
        width: 250px;
    }

    .sidebar:hover .profile .name,
    .sidebar:hover .profile .job {
        opacity: 1;
    }

    .sidebar .profile .lang-link {
        position: absolute;
        top: 50%;
        right: 0;
        margin: auto;
        font-size: 30px;
        transform: translateY(-50%);
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-radius: 0px;
        transition: all 0.5s ease;
        background: none;
    }

    .sidebar:hover .profile .lang-link {
        width: 60px;
    }

    .sidebar .profile-img {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px),
only screen and (hover: none) and (pointer: coarse),
only screen and (orientation: portrait) {
    .sidebar {
        position: sticky;
        height: 78px;
        width: 100%;
    }

    .sidebar .profile-img {
        height: 100%;
    }

    .sidebar .nav-list {
        display: none;
        transition: all ease 0.5s;
    }

    .sidebar .menu-button{
        display: inline-block;
    }

    .sidebar .profile {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 50px;
        height: 78px;
    }

    .sidebar .profile .lang-link {
        line-height: 78px;
    }

    .sidebar .profile .profile-details {
        display: none;
    }

    .sidebar li.nav-item a .links_name {
        opacity: 1;
    }
}

