@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
    --main-background-color: #11101D;
    --second-background-color: #1D1B31;
    --highlight-background-color: #E4E9F7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Open Sans", sans-serif;
    color: #11101d;
    font-size: 20px;
    scroll-behavior: smooth;
}

.main-section {
    left: 78px;
    width: calc(100% - 78px);
}

.info-card {
    max-width: 50%;
    transition: all ease 2s;
}

body {
    background: #E4E9F7;
}

.main-section {
    text-align: justify;
    padding: 20px 20px 0px 20px;
    position: relative;
    transition: all 0.5s ease;
    z-index: 2;
}

.main-section {
    margin-top: 10px;
}

.skill-bar .skill-point {
    height: 10px;
    border-radius: 4px;
    margin-left: 5px;
    flex: 1;
    display: flex;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.skill-rating {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 300px;
}

.skill-rating .active-point {
    background-image: linear-gradient(to top left, #1d1b31, #1156f7);
}

.skill-rating .inactive-point {
    background: linear-gradient(to top left,  #aaaaaa,  #dddddd);
}

.skill-bar {
    padding-top: 5px;
    width: 100%;
}

.info-card {
    display: block;
    background: linear-gradient(to top left,  #aaaaaa,  #dddddd);
    padding: 20px;
    padding-top: 45px;
    position: relative;
    width: max-content;
    margin: 10px;
/*     border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; */
}

.info-date {
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    font-weight: bold;
    background-image: linear-gradient(to top left, #1d1b31, #1156f7);
    padding: 10px;
    color: #E4E9F7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.info-title {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

.info-box {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.category {
    font-size: 30px;
}

.title {
    font-size: 36px;
    text-justify: none;
}

.contact-label {
    padding-right: 5px;
}

.infocard-img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    width: 100%;
    padding: 5px;
}

.main-section a:link {
    color: royalblue;
    font-size: inherit;
    text-decoration: none;
}

.main-section a:visited {
    color: darkblue;
    font-size: inherit;
    text-decoration: none;
}

.main-section a:hover, .main-section a:active{
    background: linear-gradient(to top left, #1d1b31, #1156f7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:  transparent;
    color: transparent;
}

.contact-icons .bx{
    font-size: 35px;
    line-height: 35px;
    vertical-align: middle;
}

@media only screen and (max-width: 1000px),
only screen and (hover: none) and (pointer: coarse),
only screen and (orientation: portrait){
    .main-section {
        width: 100%;
        left: 0;
    }
    
    .info-card {
        max-width: 100%;
    }

    .skill-bar .skill-section {
        width: calc(100% / 6 * 1px);
    }
}
